* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: snow;
}

/* Header */

header ul li {
    display: inline-block;
    text-align: right;
    font-size: 2em;
    margin: -37px 0 25px 0;    
    padding-right: 25px;
    float: right;

}

#mainHeader {
    
    margin-top: 50px;
    background-color: rgb(16, 12, 10); 
    padding: 60px 0 60px 0;
    margin-top: 0px;
    z-index: 2;
}

.mainImage {
    height: 500px;
    width: 100%;
    background: url("../images/cairnstonesbsb2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 12% 43%;
}


a {
    color: #fff;
    text-decoration: none;
    text-align: left;
}


li {
    color: white;
}

/* introduction section */
.intro {
    display:flex;
    width:80%;
    height:100%;
    float:right;
    display:wrap;

}
.introH {
    text-align:center;
    width:80%;
    margin-top: 30px;
    font-family: 'Rage Italic', sans-serif;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

.introI {
    display:flex;
    flex-wrap:wrap;
    flex-shrink: 3;
    align-self:center;
    flex-grow:0;
    margin: 0px 0px 50px 50px;
    border-radius: 5px;
    border: 5px solid #e39d01;
}

.introP {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    order: 2;
    align-self:center;
    margin-left: 10px;
    
}
/* Portfolio section*/
#portfolio{
    float:right;
    width:80%;
    height:100%;
}

.portfolio {
    text-align: center;
    margin: 10px;
}

.writersWorld {
    margin: 15px 5px 5px 25px;
}


.writersWorld:hover {
    position: relative;
    height:300px;
    width:300px;
}

.textOverlay:hover {
    position: relative;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index:4;

}

.overlayTitle:hover {
    position: relative;
    bottom:20px;
    left: 35px;
    color: #fff;
    z-index:4;
}
/*Aside layout and font */

.aside {
    margin-top: 0px;
    float:left;
    width:20%;
    background-image:linear-gradient(to bottom left, #e39d01, #d83f03, #7d2800, #1a0101, #090101) ;
    height:100%;
    position:sticky;
    top:0;
    bottom:0;
    z-index:1;
}


.aside h1 {
    text-decoration: underline;
    text-align:center;
    margin-top: 10px;
    background-color: black;
    color:white;
    line-height: 36px;
    padding:26px;
    margin-top: 0;
    margin-bottom: 30px;
}

aside ul li {
    margin: 30px 10px 30px 30px;
    font-size: 1.5em;
    list-style-type: none;
    border-color: rgb(97, 11, 11);
    border-style: solid;
    padding:10px;
}


/*Utilities - section break, text overlay*/
.sectionbreak {
    display:flex;
    padding: .5px;
    margin: 100px 15px 15px 270px;
    background-color:rgb(16, 12, 10);
    order: 5;
}

.textOverlay {
    position: relative;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.overlayTitle {
    position: relative;
    bottom:40px;
    left: 35px;
    color: #fff;
}

/* Footer Section */

#footer {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(16, 12, 10);
    padding: 60px;
    margin-bottom: 0px;
    width:100%;
    z-index:2;
}

